@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #5800ff;
  --color-primary-light: #a385ff;
  --color-primary-opaque: rgb(88,0,255, 0.5);
  --color-primary-dark: #2a0765;
  --color-background: #f0f0fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media screen and (max-width: 640px) {
  .how-it-works-bg {
    background-image: url("../assets/howItWorksBG.png");
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: cover;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.how-it-works-bg {
  background-image: url("../assets/howItWorksBG.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.choose-us-bg {
  background: linear-gradient(to left, rgb(240, 240, 251, 0.5), rgba(240, 240, 251, 0.5)), url("../assets/chooseUsBg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

.form-bg {
  background: linear-gradient(to left, rgba(164, 164, 169, 0.5), rgba(240, 240, 251, 0.5)), url("../assets/chooseUsBg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.auth-bg {
  background: linear-gradient(to left, rgba(164, 164, 169, 0.5), rgba(240, 240, 251, 0.5)), url("../assets/auth-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.contact-clippath {
 clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 38%, 90% 46%, 50% 58%, 0 100%, 0 0);
}
