.sidebar {
    padding: 10px 5px
}

.sidebar ul {
    text-align: left;
    padding: 1px 1rem;
    transition: all 300ms ease;
}

.sidebar ul .list,
.sidebar ul li {
    text-decoration: none;
    color: #000;
    list-style: none;
    line-height: 3.5;
    padding: 1px 10px;
    cursor: pointer;
    transition: all 300ms ease;
    display: block;
}

.sidebar ul .list.active {
    background: aquamarine;
    color: #000;
    line-height: 3;
    border-radius: 5px;
}

.sidebar ul .list:hover,
.sidebar ul li:hover {
    color: rgb(5, 197, 133);
}

.sidebar ul li:last-child {
    margin-top: 20px;
}

.sidebar ul .list span,
.sidebar ul li span {
    margin: 1px 10px;
}

.bars{
    display: none;
}

.logs{
    display: none;
}

.logs.display{
    display: block;
}

.logs.display li{
    line-height: 1;
    margin-top: 0;
}

@media screen and (max-width: 1220px){
}

@media screen and (max-width: 780px){

    .bars{
        display: flex;
        position: fixed;
        z-index: 2;
        top: 8px;
        left: 80%;
        padding: 4px;
        border-radius: 10px;
        background-color: aquamarine;
        font-size: 2rem;
        color: #000;

    }

    .sidebar {
        position: fixed;
        top: 0px;
        width: 70%;
        overflow-y: scroll;
        height: 100vh;
       font-size: 0.85rem;
        background-color: rgba(255, 255, 255);
        transition: all 0.5s ease;
    }

    .sidebar ul{
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    ul .list>span:nth-child(2) {
        display: inline;
    }
}