.home {
    display: grid;
    grid-template-columns: 1.2fr 4fr;
}

.first-layer {
    background: linear-gradient(rgba(8, 8, 8, 0.8), rgba(94, 83, 83, 0.4)), url(../../../Images/devBackground.jpg);
    background-size: contain;
    height: 50%;
}

.first-layer h1 {
    color: #fff;
    padding: 10%;
    font-size: 40px;
    font-weight: 800;
}

.secondLayer {
    background-color: #00d7ff0f;
    padding: 53.5px 7px;
    margin-top: -10px;
    overflow: hidden;
}


@media screen and (max-width: 1220px) {

    .home{
        grid-template-columns: 0.2fr 4fr;
    }

    ul li>span:nth-child(2) {
        display: none;
        padding: 2px;
    }

    ul li:hover>span:nth-child(2){
        display: inline;
        text-align: left;
        text-overflow: clip;
    }


}

@media screen and (max-width: 680px) {
    .home {
        display: block;
    }

    .first-layer{
        height: 70%;
    }

    .secondLayer{
        display: flex;
        align-items: flex-end;
        padding: 10px;
    }
}

.secondLayer p {
    font-size: 30px;
    padding: 25px;
    line-height: 1.5;
    color: rgb(46, 44, 44);
    font-family: raleway-regular;
}

