body {
  margin: 0;
  font-size: 16px;
  font-family: raleway-regular, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

:root{
  --primary-color: #5800ff;
  --secondary-color: #0096FF;
  --tertiary-color: #00D7FF;
  --elementary-color: #72FFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
